* {
    margin: 0px;
    padding: 0px;
}

.menu-container {
    background-color: rgb(116, 113, 113);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menus {
    display: flex;
}

.logo-photo {
    width: 120px;
}

.item {
    margin: 10px;
    padding: 7px;
    font-size: 18px;
}

.item:hover {
    color: blue;
    cursor: pointer;
}

.banner-img {
    width: 300px;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    color: white;
    align-items: center;
    background-image: url("images/background.png"), linear-gradient(45deg, #302f2f, #1e0303);
}