* {
    margin: 0px;
    padding: 0px;
}

.menu-container {
    background-color: rgb(116, 113, 113);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menus {
    display: flex;
}

.logo-photo {
    width: 120px;
}

.item {
    margin: 10px;
    padding: 7px;
    font-size: 18px;
}

.item:hover {
    color: blue;
    cursor: pointer;
}

.banner-img {
    width: 300px;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    color: white;
    align-items: center;
    background-image: url("images/background.png"), linear-gradient(45deg, #302f2f, #1e0303);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 55px;
    font-weight: bold;
}

.description {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px 10px;
}

.btn:hover {
    cursor: pointer;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    border: solid #fff;
}

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}

.about-title {
    text-align: center;
    padding-top: 20px;
}